apt-xapian-index==0.45
astroid==1.0.1
backports.functools-lru-cache==1.5
chardet==2.0.1
colorama==0.2.5
cycler==0.10.0
html5lib==0.999999999
kiwisolver==1.0.1
logilab-common==0.61.0
matplotlib==2.2.4
mininet==2.2.2
numpy==1.16.2
pep8==1.4.6
pexpect==3.1
pyflakes==0.8.1
pylint==1.1.0
pyparsing==2.3.1
python-apt===0.9.3.5ubuntu3
python-dateutil==2.8.0
python-debian===0.1.21-nmu2ubuntu2
pytz==2018.9
pyxdg==0.25
requests==2.2.1
scapy==2.2.0
six==1.12.0
ssh-import-id==3.21
subprocess32==3.5.3
urllib3==1.7.1
virtualenv==16.4.3
